*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    
}

.main-nav {
    position: absolute;
    padding-top: 38px;
    width: 100%;
    z-index: 1;

    transition-property: background-color, color;
    transition-duration: .3s;
    
}

.main-nav--sticked {
    background-color: rgba(255,255,255, 0.97);
    padding: 5px 0;
    position: fixed;
}

.main-nav--sticked li a{
    color:#5f5f5f;
}

.container{
    display: flex;
    justify-content: space-between;
}

.centering{
    width: 1170px;
    margin: 0 auto;
}

.logo--disable{
    display: none;
}

.main-nav__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;

    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;

    margin: 0;  
}

.main-nav__list a{
    color: #fff;
    text-decoration: none;
}
 
.main-nav__list li{
    margin-left: 35px;
}
.title {
    background: url(img/header__background.jpg) no-repeat center black;
    background-size: cover;
    color: #fff;
    padding-top: 162px;

    overflow: auto;
}

.title h1{
    color: #ffffff;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.8px;
    
    margin: 0;
}

.title p{
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;

    margin: 29px 0;
    letter-spacing: 1.44px;
}

.title span{
    font-style: italic;
    font-weight: 400;
    font-size: 46px;
    
}

.down-btn {
    position: relative;

    margin: 248px auto 100px;
    /* margin-top: 148px; */

    width: 50px;
    height: 50px;

    font-size: 0px;

    border: 1px solid white;
    border-radius: 25px;


}

.down-btn::after {
    content: "";

    position: absolute;
    width: 13px;
    height: 1px;
    background-color: white;

    top: 25px;
    right: 22px;

    transform: rotate(45deg);
}

.down-btn::before {
    content: "";

    position: absolute;
    width: 13px;
    height: 1px;
    background-color: white;

    top: 25px;
    left: 22px;

    transform: rotate(-45deg);
}

.about{
    color: #171717;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.95px;

    text-align: center;

    padding-top: 20px;

}

.about img{
    padding: 60px 0 100px;
}
.about__text{
    color: #5f5f5f;
    font-family: "Work Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    padding: 0 305px;
}

.features {
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    
    color: #fff;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.35px;

    padding: 120px 0 100px;
    
}


.features-wrapper{
    background: url(img/pattern_bg.png)#1a1a1a;
}
.features li{
    padding-left: 68px;
    position: relative;
    
}

.features li::before{
    content: "";
    position: absolute;
    /* z-index: ; */
    width:40px;
    height: 40px;

    top: 7px;
    left: 0px;

}

.features li:nth-child(1)::before {
    background-image: url(img/features__icons.webp);
    background-position: left 0px bottom 2px;
}

.features li:nth-child(2)::before {
    background-image: url(img/features__icons.webp);
    background-position: left -300px bottom 0px;
    
    
}
.features li:nth-child(3)::before {
    background-image: url(img/features__icons.webp);
    background-position: left -600px bottom 0px;
    
    
}
.features li:nth-child(4)::before {
    background-image: url(img/features__icons.webp);
    background-position: left -900px bottom 0px;
    
    
}

.features p{
    margin: 0px;
    text-align: left;
}

.features span{
    font-size: 18px;
}

.best-projects{
    padding-top: 62px;
}
.best-projects h2{
    color: #171717;
    font-family: "Playfair Display";
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.95px;

    text-align: center;
}

.best-projects p{
    color: #5f5f5f;
    font-family: "Work Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
    text-align: center;

    padding: 0 30%;
}

.best-projects__grid{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}

.best-projects__grid li{
    height: 390px;
    position: relative;
}

.best-projects__grid a{
    display: flex;
    width:100%;
    height: 100%;
    align-items: center;
}

.best-projects__grid img{
    width: 100%;
    margin: auto;
}

.best-projects__grid div{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
   
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: center;
}

.best-projects__grid h3{
    margin:0;
}

.best-projects__grid p{
    color: #ffffff;
    font-family: "Work Sans";
    font-size: 0;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin:0
}

.best-projects__grid li:nth-child(2n){
    background:#dedede;
}

.best-projects__grid li:nth-child(2n+1){
    background:#f1f1f1;
}

.best-projects__grid li::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity .5s;
}

.best-projects__grid li:hover::before{
    opacity: .8;
}

.best-projects__grid li:hover h3{
    font-size: 24px;
    transition: font-size .3s;
}

.best-projects__grid li:hover p{
    font-size: 14px;
    transition: color .3s;
}

.quotes{
    background:url(img/pattern_bg.png);
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 28px;
    line-height: 36px;
    font-style: italic;
    position: relative;
}

.slider__button{
    position: absolute;
    width: 300px;

    left: 0;
    top: 0;
    bottom: 0;
    background: url(img/slider_button.png) center no-repeat;
    transition: all .5s;
}

.slider__button:hover{
    filter: brightness(.5);
    background-color: rgba(255,255,255, .3)
}

.next-button{
    left: auto;
    right: 0;
    transform: scale(-1,1);
}

.quotes__slider {
    display: flex;
    
    width: 1170px;
    height: 450px;
    margin: 0 auto;
    justify-content: flex-end;
    flex-direction: column;
   
}


.quotes__slide {
    display:none;
    padding:0 231px;
    text-align: center;
    padding-bottom: 70px;
    overflow: auto;
}

.quotes__slide cite{
    color: #ffffff;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    font-style: normal;
}
.quotes__slide.active{
    display: block;
}

.quotes__points{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    
}
.quotes__points div{
    margin:9px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    transition: background-color .5s;
    user-select: all;
    cursor: pointer;
}

.quotes__points div:hover{
    background-color: white;
}

.quotes__points .active{
    width: 12px;
    height: 12px;
    background-color: white;
    cursor: default;
}

.contacts__wrapper{
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 430px 670px;
    column-gap: 70px;
    padding: 180px 0;
    
    color: #5f5f5f;
    font-family: "Work Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
}

.contacts{
    background-color: #f6f6f6
}

.contacts__info h2{
    color: #171717;
    font-family: "Playfair Display";
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.95px;
    margin: 0;
}

.contacts__info span{
    color: #171717;
    font-family: "Work Sans";
    font-weight: 500;
    letter-spacing: 0.07px;
}

.contacts__info a{
    color: #5f5f5f;
}

.contacts__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 170px;
    position: relative;
    row-gap: 30px;
    column-gap: 30px;

    color: #858585;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
}

.contacts__form input:nth-child(3){
    grid-column: span 2;
}

.contacts__form input{
    border: none;
    padding-left: 10px;
}

textarea{
    grid-column: span 2;
    border: none;
}

.contacts__form button{
    position: absolute;
    bottom: -85px;
    width: 180px;
    height: 54px;
    border: none;
    background-color: #252525;
    color: #ffffff;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
}

.contacts__form button:hover{
    background-color: #555
}